<!doctype html>
<html>
	<head>
		<title>Wavelength</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
		<script src="/socket.io/socket.io.js" defer></script>
		<script src="https://unpkg.com/vue@next" defer></script>
		<script src="player.js" defer></script>
	</head>
	<body>
		<h1>Player</h1>
		<div id="app">
			<p>gameStage: {{ gameStage }}</p>
			<p>isClueGiver: {{ isClueGiver }}</p>

			<div v-if="gameStage == 'ASSIGN'">
				<button v-on:click="claimTurn()">Claim</button>
			</div>
			<div v-else-if="gameStage == 'CLUE'">
				<p>{{ spectrum[0] }} ---- {{ spectrum[1] }}</p>
				<div v-if="isClueGiver">
					<p>Give a clue...</p>
				</div>
				<div v-else>
					<p>Wait for the clue giver to give a clue...</p>
				</div>
			</div>
		</div>
	</body>
</html>