<!doctype html>
<html>
	<head>
		<title>Wavelength</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="/socket.io/socket.io.js" defer></script>
		<script src="https://unpkg.com/vue@next" defer></script>
		<script src="client.js" defer></script>
	</head>
	<body>
		<h1>Wavelength</h1>
		<div id="app">
			<div v-if="gameStage == 'ASSIGN'">
				<button v-on:click="claimTurn()">My turn!</button>
			</div>

			<div v-else-if="gameStage == 'CLUE'">
				<div class="spectrum-endpoints"><p>{{ spectrum[0] }}</p><p>{{ spectrum[1] }}</p></div>
				<div v-if="isClueGiver">
					<p class="eyebrow">Answer</p>
					<p class="data">{{ answer }}</p>
					<p class="eyebrow">Your clue</p>
					<p><input type="text" id="clue"></p>
					<p><button v-on:click="submitClue()">Submit</button></p>
				</div>
				<div v-else>
					<p>Wait for the clue giver to give a clue...</p>
				</div>
			</div>

			<div v-else-if="gameStage == 'GUESS'">
				<div class="spectrum-endpoints"><p>{{ spectrum[0] }}</p><p>{{ spectrum[1] }}</p></div>
				<p class="eyebrow">Clue</p>
				<p class="data">{{ clue }}</p>
				<div v-if="isClueGiver">
					<p>Wait for the team to guess...</p>
				</div>
				<div v-else>
					<p class="eyebrow">Your guess</p>
					<p class="data">{{ guess }}</p>
					<div id="guess-buttons">
						<p><button v-on:click="addToGuess(-10)">&leftarrow; a lot</button></p>
						<p><button v-on:click="addToGuess(10)">a lot &rightarrow;</button></p>
						<p><button v-on:click="addToGuess(-1)">&leftarrow; a little</button></p>
						<p><button v-on:click="addToGuess(1)">a little &rightarrow;</button></p>
					</div>
					<p><button v-on:click="submitGuess()">Submit</button></p>
				</div>	
			</div>

			<div v-else-if="gameStage == 'REVEAL'">
				<div class="spectrum-endpoints"><p>{{ spectrum[0] }}</p><p>{{ spectrum[1] }}</p></div>
				<p class="eyebrow">Clue</p>
				<p class="data">{{ clue }}</p>
				<p class="eyebrow">Answer</p>
				<p class="data">{{ answer }}</p>
				<p class="eyebrow">You guessed</p>
				<p class="data">{{ guess }}</p>
				<p><button v-on:click="endRound()">Another round!</button></p>
			</div>
		</div>
	</body>
</html>