<!doctype html>
<html>
	<head>
		<title>Wavelength</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
		<script src="/socket.io/socket.io.js" defer></script>
		<script src="https://unpkg.com/vue@next" defer></script>
		<script src="player.js" defer></script>
	</head>
	<body>
		<h1>Player</h1>
		<div id="app">
			<div v-if="gameStage == 'ASSIGN'">
				<button v-on:click="claimTurn()">My turn!</button>
			</div>

			<div v-else-if="gameStage == 'CLUE'">
				<p>{{ spectrum[0] }} ---- {{ spectrum[1] }}</p>
				<div v-if="isClueGiver">
					<p>Answer</p>
					<p>{{ answer }}</p>
					<p>Your clue</p>
					<p><input type="text" id="clue"></p>
					<p><button v-on:click="submitClue()">Submit</button></p>
				</div>
				<div v-else>
					<p>Wait for the clue giver to give a clue...</p>
				</div>
			</div>

			<div v-else-if="gameStage == 'GUESS'">
				<p>{{ spectrum[0] }} ---- {{ spectrum[1] }}</p>
				<p>Clue</p>
				<p>{{ clue }}</p>
				<div v-if="isClueGiver">
					<p>Wait for the team to guess...</p>
				</div>
				<div v-else>
					<p>Your guess</p>
					<p>{{ guess }}</p>
					<p><button v-on:click="addToGuess(-10)">&leftarrow; 10</button></p>
					<p><button v-on:click="addToGuess(-1)">&leftarrow; 1</button></p>
					<p><button v-on:click="addToGuess(1)">1 &rightarrow;</button></p>
					<p><button v-on:click="addToGuess(10)">10 &rightarrow;</button></p>
					<p><button v-on:click="submitGuess()">Submit</button></p>
				</div>	
			</div>

			<div v-else-if="gameStage == 'REVEAL'">
				<p>{{ spectrum[0] }} ---- {{ spectrum[1] }}</p>
				<p>Clue</p>
				<p>{{ clue }}</p>
				<p>Answer</p>
				<p>{{ answer }}</p>
				<p>You guessed</p>
				<p>{{ guess }}</p>
				<p><button v-on:click="endRound()">Another round!</button></p>
			</div>

		</div>
	</body>
</html>